/* Sidebar.css */

.sidebar {
  height: 100vh;
  /* width: 200px; */
  background-color: var(--tb-login-primary-100);
  /* color: black; */
  padding-top: 20px;
}

.nav-item {
  /* font-size: 1.7rem; */
  /* text-align: center; */
}

.sidebar-nav-link {
  width: 100vh;
  padding-top: 32px;
  padding-bottom: 32px;
}

.sidebar-nav-link:hover {
  background-color: #fff;
}

.icon {
  margin-left: 16px;
  font-size: 2rem;
  /* padding-right: 32px; */
  color: rgb(43, 2, 2);
}

.text {
  margin-left: 48px;
  font-size: 1.8rem;
  color: var(--tb-login-primary-contrast-50);
}
