.title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 0px;
}
a{
    text-decoration: none;
    color:#a7afbd;
    font-size: 1.5rem;
    margin-bottom:20px ;
}
.content{
    font-size: 1.5rem;
    color:#a7afbd;
    padding: 0px;
}
.content1{
    text-decoration: none;
    color:#a7afbd;
    font-size: 1.5rem;
    margin-top:25px ;
    margin-bottom: 25px;
    padding: 0;
}
.container{
    margin-top: 50px;
}
ul{
    padding: 0px;
    align-items: center;
}
ul li{
    list-style: none;
    margin-right: 10px;
    margin-left: 0px;
    font-size: 2rem;
}
