.wrapper {
    padding: 0 16px;
    height: 36px;
    font-size: 1.8rem;
    background-color: transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    // &:hover {
    //   background-color: rgba(22, 24, 35, 0.06);
    // }
  }
  
  .primary {
    border: 1px solid var(--tb-login-accent-200);
    color: var(--tb-login-accent-contrast-50);
    background-color: var(--tb-login-accent-200);
  
    &:hover {
      background-color: var(--tb-login-primary-400);
    }
  }
  
  .outline {
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: currentColor;
    &:hover {
      background-color: rgba(22, 24, 35, 0.06);
    }
  }
  
  .small {
    padding: 4px 16px;
  }
  
  .large {
    padding: 14px 16px;
    min-width: 148px;
  }
  
  .max-width {
    padding: 14px 16px;
    width: 100%;
  }
  